
/*Messing around with test page styling */
.bg-custom {
    background-color: #1e2761;
}

.bg-maroon {
    background-color: #7a2048;
}

a, ul li {
    cursor: pointer;
    list-style: none;
}
.cover {
    background-image: url(./public/BusinessSet.jpg);
    background-size:cover;
    background-repeat: none;
    height: 100%;
    width: 100%;
}

.headliner {
    color: #092f4a;
    font-weight: 900;
    padding: 12vw 12vw 0vw 12vw;
}

.headliner-mission {
    color: #092f4a;
    font-weight: 900;
    padding: 10vw;
}

.headliner-service {
    color: white;
    font-weight: 900;
    padding: 10vw;
}

.subliner {
    color: #157b9e;
    font-weight: 800;
    padding-bottom: 30vw;
    
}

.subliner-mission {
    color: #157b9e;
    font-weight: 700;
    padding: 7vw;
    line-height: 2.0;
}

.pop {
    font-family: "Poppins", sans-serif;
}

.parse {
padding-left: 20vw;
}

.bg-toggle {
    background-color: #157b9e;
}

.text-indigo {
    color: #1e2761;
    font-weight: 800;
}

.process {
    color:#7a2048;
    font-weight: 600;
}

.business-liner {
    color: white;
    font-weight: 700;
    
}

.business-subliner {
    color: #fbfdfb;
    font-weight: 700;
}

.text-blue {
    color: #408ec6;
}

.client-experience {
    padding: 6vw;
}

.website-type {
    padding: 10vw;
}

.foot-img {
    background-image: url(./public/EVATrans.png);
    background-size: cover;
    height: fit-content;
    width: fit-content;
    background-position-y: 100%;
    padding: 15vw;
    padding-bottom: 5vw;

}

.business-goal {
    background-color: #7a2048;
    padding: 9vw;
}

.design-goal {
    background-color: #157b9e;
    padding: 9vw;
}

.sustain-goal {
    background-color: #092f4a;
    padding: 9vw;
}

.support-goal {
    background-color: rgb(82, 9, 82);
    padding: 7vw;
}

.contact-me {
padding: 10vw;
background-image: url(./public/laptop.jpg);
background-size:cover;
background-position-y: 50%;
}

.contact-btn {
    background-color: #157b9e;
    color: white;
    font-weight: 500;
}

.eva-logo {
    background-image: url(./public/evaForm.png);
    background-size: cover;
    background-position-x: 50%;
}

.eva-bg {
    background-image: url(./public/evaForm.png);
    background-size: cover;
    background-position-x: 50%;
    
}

.service-img {
    background-image: url(./public/handshake.jpg);
    background-size: cover;
    padding: 25vw;
}

.choose {
    font-family: "Archivo", sans-serif;
}

.market {
    color:#7a2048;
    font-weight: 900;
}

.market-img {
    /*background-image: url(./public/Molecule.png);*/
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

ol li::marker {
    font-size: 2em;
}


@media  screen and (min-width: 100px) and (max-width: 800px) {
    .bg-custom {
        background-color: #7a2048;
    }

    .headliner {
        color: white;
    }

    .subliner {
        color: white;
    }

    .cover {
        background-image: url(./public/cyber.jpg);
        background-size:cover;
        background-repeat: none;
        height: 100%;
        width: 100%;
        background-position-x: center;
        color: white;
    }

    .headliner-mission {
        color: #092f4a;
        font-weight: 900;
        padding: 10vw;
        margin-top: 15vw;
    }

    
}
    
