
/*Messing around with test page styling */
.bg-custom {
    background-color: #1e2761;
}
.cover {
    background-image: url(./public/yougothis.jpg);
    background-size:cover;
    background-repeat: none;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: "Poppins", sans-serif;
}

.parse {
padding-left: 20vw;
}

.bg-toggle {
    background-color: #408ec6;
}

@media  screen and (min-width: 100px) and (max-width: 800px) {
    .bg-custom {
        background-color: #7a2048;
    }

    .cover {
        background-image: url(./public/cyber.jpg);
        background-size:cover;
        background-repeat: none;git 
        height: 100%;
        width: 100%;

    }
}
    
